<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.authority.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.lagou.authority.entity.bo.Resource">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,url,
        category_id,description,created_time,
        updated_time,created_by,updated_by
    </sql>

    <select id="queryByRoleIds" resultType="com.lagou.authority.entity.bo.Resource">
        select distinct
            r.id,
            r.name,
            r.url,
            r.category_id,
            r.description,
            r.created_time,
            r.updated_time,
            r.created_by,
            r.updated_by
        from resource r left join role_resource_relation rrr on rrr.resource_id=r.id
        where rrr.role_id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>
</mapper>
